fastapi
uvicorn
pymongo
langchain
langchain-nvidia-ai-endpoints
langgraph
apscheduler
pydantic
pydantic-settings
python-dotenv
streamlit
websockets
pandas
motor
dnspython
certifi
chromadb
sentence-transformers
pybreaker
pytz
